<h2>Sign in</h2>
<%= link_to "New User?", new_account_user_url %>
<%= form_for @user, :url => account_sessions_url do |f| %>
<%= f.error_messages %>
<p>
  <%= f.label :email %><br>
  <%= f.email_field :email %>
</p>
<p>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</p>
<%= f.submit "Sign in" %>
<% end %>
